/* Base styles for larger screens */
@import url('https://fonts.googleapis.com/css2?family=Radley:ital@1&display=swap');

.AboutLanding {
  height: 100vh;
}

.horizontal-scroll-container {
  height: 100vh;
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-section {
  display: inline-block;
  vertical-align: top;
  width: 100vw;
}

#normal-scroll-section {
  overflow: auto;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #F6EFDA;
}

#main-content h1 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-family: 'Radley', serif;
}

#main-content h1 span {
  color: #9B4819;
}

.scroll-img-div {
  display: flex;
}

#main-content .scroll-img-div img {
  position: absolute;
  width: 8rem;
  height: 8rem;
  bottom: 5vh;
  right: 104vw;
}

.para-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 30%;
}

.para-div p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

#main-content .hire-btn {
  margin-top: 2rem;
}

#main-content .hire-btn button {
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  background-color: transparent;
  color: #181818;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

#main-content .hire-btn button:hover {
  background-color: #9B4819;
  color: #F4F1E8;
  transition: all 0.3s ease-in-out;
}

#main-content .hire-btn button:active {
  transform: scale(0.9);
  transition: all 0.1s ease-in-out;
  border-radius: 50px;
}

#about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D8B85E;
  margin: 0;
  padding: 0;
}

#about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0vh 2vw;
  margin: 3vh 2vw 0 2vw;
}

#about-content .text {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  width: 80%;
}

.text h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 2rem 0;
  font-family: 'Radley', serif;
}

.text p {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  margin: 0;
  font-family: 'Radley', serif;
}


#about-content .img {
  padding: 2rem;
  margin: 2rem;
}

.img img {
  width: 25vw;
}

#projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-color: #F4F1E8;
}

#redirect-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

#redirect-btns button {
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  background-color: transparent;
  color: #181818;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

#redirect-btns button:hover {
  background-color: #181818;
  color: #D8B85E;
  transition: all 0.3s ease-in-out;
}

#redirect-btns button:active {
  transform: scale(0.9);
  transition: all 0.1s ease-in-out;
  border-radius: 50px;
}

@media screen and (min-width: 1500px) {
  .AboutLanding p {
    font-size: 1.5rem;
  }

  #about-content {
    margin: 0 10vw;
  }

  #about-content .text {
    width: 40%;
  }

  #main-content h1 {
    font-size: 5rem;
  }

  #about-content h1 {
    font-size: 3rem;
  }

  #main-content .hire-btn button {
    padding: 0.7rem 1.5rem;
    font-size: 1.5rem;
  }

  #redirect-btns button {
    padding: 0.9rem 1.5rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 913px) {

  .AboutLanding p {
    font-size: 1rem;
  }

  #main-content h1 {
    font-size: 3rem;
    margin: auto;
  }

  .img img {
    width: 40vw;
  }

  #about-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #about-content .text {
    width: 80%;
    margin: 5vh 0 0 0;
  }

  #redirect-btns {
    width: 80%;
    margin: 1rem auto 5rem auto;
  }
}


@media screen and (max-width: 767px) {
  .AboutLanding p {
    font-size: 0.7rem;
  }

  #about-content {
    margin: 0;
  }

  #about-content .text {
    width: 70%;
  }

  #main-content h1 {
    font-size: 3rem;
  }

  .img img {
    width: 40vw;
  }

  #about-content h1 {
    font-size: 1rem;
  }

  #about-content .text {
    width: 80%;
    margin: 10vh 0 0 0;
  }

  #main-content .hire-btn button {
    padding: 0.9rem 2rem;
    font-size: 1rem;
  }

  #redirect-btns button {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }

  #main-content .scroll-img-div img {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 400px) {
  .AboutLanding p {
    font-size: 0.5rem;
  }

  #about-content .text {
    width: 90%;
  }

  #main-content h1 {
    font-size: 2rem;
  }

  .img img {
    width: 30vw;
  }

  #about-content .text {
    width: 90%;
    margin: 15vh 0 0 0;
  }

  #about-content h1 {
    font-size: 1rem;
  }

  #main-content .hire-btn button {
    padding: 0.7rem 1.2rem;
    font-size: 0.8rem;
  }

  #redirect-btns button {
    padding: 0.4rem 1rem;
    font-size: 0.7rem;
  }

  #main-content .scroll-img-div img {
    width: 5rem;
    height: 5rem;
  }
}