.light {
  background-color: #fbfbfb;
  color: #181818;
  /* Define the accent color variable */
}

.light ::selection {
  color: #fbfbfb;
  background: #181818;
}

.light .mode-toggle button {
  background-color: var(--accent-color);
  color: #fbfbfb;
}

/* Dark mode */
.dark {
  background-color: #181818;
  color: #fbfbfb;
  /* Define the accent color variable */
}

.dark ::selection {
  background : #fbfbfb;
  color :#181818;
}

.dark .mode-toggle button {
  background-color: var(--accent-color);
  color: #fbfbfb;
}

/* Light mode */
.light {
  /* ... other styles ... */
  --text-color: #181818;
  /* Define text color for light mode */
}

.light .author-name {
  color: var(--text-color);
  /* Use text color variable */
}

.light .created-at {
  color: var(--text-color);
  /* Use text color variable */
}

/* Dark mode */
.dark {
  /* ... other styles ... */
  --text-color: #fbfbfb;
  /* Define text color for dark mode */
}

.dark .author-name {
  color: var(--text-color);
  /* Use text color variable */
}

.dark .created-at {
  color: var(--text-color);
  /* Use text color variable */
}


/* Other styles remain the same */
/* ... */
.blog-wrap {
  width: 60%;
  padding: 20px;
  margin: auto;
}

.blog-wrap header {
  width: 80%;
  margin: auto;
  padding: 2rem;
  margin-bottom: 2rem;
}

.blog-title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.blog-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 10px 0;
}

.author-detail-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  padding: 0;
}

.blog-desc {
  margin: 20px auto;
  width: 60%;
}

.image-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  align-items: center;
}

.image-div img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.mode-toggle img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
}

.mode-toggle button {
  background-color: #181818;
  color: #fbfbfb;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 1920px) {
  .blog-wrap {
    /* width: 90%; */
  }

  .blog-desc {
    width: 80%;
  }

  .image-div img {
    width: 100%;
    height: 100%;
  }
}




@media screen and (max-width: 1366px) {
  .blog-wrap {
    width: 90%;
  }

  .blog-desc {
    width: 80%;
  }

  .image-div img {
    width: 100%;
    height: 100%;
  }
  
}

@media screen and (max-width: 1024px) {
  .blog-wrap {
    width: 90%;
  }

  .blog-desc {
    width: 80%;
  }

  .image-div img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .blog-wrap {
    width: 100%;
    padding: 20px;
    margin: auto;
  }

  .blog-wrap header {
    width: 100%;
    margin: auto;
    padding: 2rem;
  }

  .blog-title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }

  .author-detail-holder {
    display: grid;
    grid-template-columns: 1fr;
  }

  .social-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 0;
    padding: 0;
  }

  .blog-desc {
    width: 100%;
  }
}