.blogPageh1 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 1vh 0;
}

.blogPageh2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 2.5vh 0;
}

.blogPageh3 {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 2.5vh 0;
}

.blogPageh4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 3vh 0;
}

.blogPageh5 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 3vh 0;
}

.blogPageh6 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 3vh 0;
}

.blogPagep {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 1vh 0;
    line-height: 2;
}

.blogPageli {
    margin: 3vh 0;
    line-height: 1.7;
}

.blogPageul {
    margin: 3vh 0;
    line-height: 1.7;
}
