@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@200&family=Spectral:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'WhyteInktrapRegular';
    src: url(../public/Assets/Fonts/WhyteInktrap-Regular.woff2);
}

@font-face {
    font-family: 'WhyteInktrapMedium';
    src: url(../public/Assets/Fonts/WhyteInktrap-Medium.woff2);
}

@font-face {
    font-family: 'WhyteInktrapHeavy';
    src: url(../public/Assets/Fonts/WhyteInktrap-Heavy.woff2);
}

@font-face {
    font-family: 'WhyteInktrapHeavy';
    src: url(../public/Assets/Fonts/WhyteInktrap-Heavy.woff2);
}

@font-face {
    font-family: 'Array';
    src: url(../public/Assets/Fonts/Array-Regular.woff2);
}

@font-face {
    font-family: 'Khand';
    src: url(../public/Assets/Fonts/Khand-Regular.woff2);
}

@font-face {
    font-family: 'Sentient';
    src: url(../public/Assets/Fonts/Sentient-Regular.ttf);
}
@font-face {
    font-family: 'Sentient-Medium';
    src: url(../public/Assets/Fonts/Sentient-Medium.ttf);
}


* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'WhyteInktrapHeavy';
    font-size: 3rem;
    font-weight: 900;
    font-style: heavy;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sentient-Medium';
    font-weight: 500;
}

body {
    background-color: #fbfbfb;
}


/* Paragraph font */
p {
    font-family: 'outfit', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7;
}

/* Small text font */
small {
    font-family: 'Nunito', sans-serif;
    font-size: .8rem;
}

.HomeHead {
    font-family: whyteinktrapheavy;
    font-size: 40px;
    font-weight: 900;
    font-style: heavy;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    cursor: none;
}